# Virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Django development files
db.sqlite3
staticfiles/

# Environment variables and secrets
.env

# Operating system files
.DS_Store
Thumbs.db